<div>
    <h1>Administrador</h1>
    <div class="d-flex gap-3 mt-3">
        <a asp-controller="Estudiante" class="col-5">
            <div class="card">
                <div class="card-body m-auto">
                    <h5 class="card-title">Estudiante</h5>
                </div>
            </div>
        </a>
        <a asp-controller="Personal" class="col-5">
            <div class="card">
                <div class="card-body m-auto">
                    <h5 class="card-title">Personal</h5>
                </div>
            </div>
        </a>
    </div>
</div>