@model IEnumerable<MoFoto>

<link rel="stylesheet" href="~/css/Estilos/cssInicio.css" asp-append-version="true">

<div class="container mx-auto text-center">
    <h2 class="mt-5">Selecciona el tipo de imagen</h2>
    <div class="d-flex justify-content-center align-items-center gap-4 mt-5 mb-3 flex-wrap">
        <a id="btnEstudiante" class="btn border-0 d-flex justify-content-center align-items-center flex-column rounded-4 text-white" asp-action="Index" asp-controller="Estudiante"
           style="width: 14rem; height: 14rem; background: linear-gradient(to bottom right, #1ba9d4, #055fc7);">
            <i class="fa-solid fa-user-graduate fa-7x mb-2"></i>
            <span class="card-title mt-3 fs-4 fw-bold">Estudiante</span>
        </a>
        <a id="btnPersonal" class="btn border-0 d-flex justify-content-center align-items-center flex-column rounded-4 text-white" asp-action="Index" asp-controller="Personal"
           style="width: 14rem; height: 14rem; background: linear-gradient(to bottom right, #1ba9d4, #055fc7);">
            <i class="fa-solid fa-user-tie fa-7x mb-2"></i>
            <span class="card-title mt-3 fs-4 fw-bold">Personal</span>
        </a>
    </div>
</div>